@charset "utf-8";
/* CSS Document */

.rotate-img {transform: rotateY(180deg)}


.img-abt {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.img-1-1 {
	position: absolute;
	max-height: 100%;
	top: 0
}
.img-2-2 {max-width: 100%;}

@media only screen and (max-width: 576px) {
	.head-quote .font-noto-bi-36 {font-family: notosan-bi;font-size: 1.5rem!important;}
}
@media only screen and (min-width: 1200px) {
	.min-res-hei {min-height: 436px;}
}

.bg-npp {
	background-image: url("../img/bg/offer-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}