@charset "utf-8";
/* CSS Document */

.line-break {height: 1px; background-color: grey;}

.custom-ifr {height: 350px;}
.ytp-chrome-top {display: none}

@media only screen and (min-width: 768px) {
	.custom-ifr {height: 500px;}
}

.app-download {
	max-width: 290px;
	max-height: 80px;
	background-color: black;
	border: 1px grey solid;
	border-radius: 10px;
	padding: 15px 10px
}
.app-download span {color: white;}

.magazine:hover {box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19)}